:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: white;
    overflow-x: hidden;
}

nav {
    position: absolute;
    width: 100%;
    height: 7vh;
    background: white;
}

.logo {
    position: absolute;
    top: 20%;
}

.toggler {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 3%;
    z-index: 4;
    opacity: 0;
}

.hamburger {
    background:inherit;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 3%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.hamburger-lines {
    background: var(--very-dark-blue);
    height: 4px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.hamburger-lines::after {
    content: '';
    background: var(--very-dark-blue);
    position: absolute;
    height: 4px;
    width: 45px;
    top: 12px;
}

.hamburger-lines::before {
    content: '';
    background: var(--very-dark-blue);
    position: absolute;
    height: 4px;
    width: 45px;
    top: 28px;
}

.toggler:checked + .hamburger > .hamburger-lines {
    transform: rotate(135deg);
  }

  .toggler:checked + .hamburger .hamburger-lines::before, .toggler:checked + .hamburger .hamburger-lines::after {
    top: 0;
    transform: rotate(90deg);
  }

.menu-overlay {
    background-color: var(--off-white);
    position: fixed;
    left: 0;
    top: 0;
    overflow: visible;
    width: 200vw;
    height: 200vw;
    border-radius: 40%;
    z-index: 2;
    opacity: 90%;
    transform: scale(0);
    transition: all 0.4s ease;

}

.menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 20vw;
    top: 15%;
}

.item {
    padding: 1rem;
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.item:hover {
    color: var(--soft-red);
}

.main-container {
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.abstract-blocks {
    width: 52vw;
    height: 15rem;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.bright-future {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: var(--very-dark-blue);
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
    padding-top: 5%;
    padding-right: 1rem;
}

.bright-subtext {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    padding-top: 8%;
    padding-right: 2rem;
}

button {
    background: var(--soft-red);
    color: var(--off-white);
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    border-width: 0;
    width: 8rem;
    height: 2.5rem;
    margin-top: 2rem;
}

button:hover {
    background: var(--very-dark-blue);
    cursor: pointer;
}

.news-sidebar {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    height: 28rem;
    font-family: Inter, sans-serif;
}

.new {
    color: var(--soft-orange);
    font-size: 2rem;
}

.sidebar-subheading {
    color: var(--off-white);
}

.sidebar-subheading:hover {
    color: var(--soft-orange);
    cursor: pointer;
}

.sidebar-text {
    color: var(--off-white);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 70%;
}

.divider {
    height: 1px;
    width: 100%;
    background: var(--off-white);
    opacity: 40%;
}

.retro-pcs-container {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    height: 7rem;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bottom-images {
    width: 5.5rem;
    height: 7rem;
}

.bottom-text-container {
    padding-left: 5%;
    padding-right: 30%;
}

.top-10-container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 7rem;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.number-header {
    color: var(--grayish-blue);
    font-size: 2rem;
}

.top-3-header {
    margin-top: 0.4rem;
}

.top-3-header:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.top-3-subtext {
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
    margin-top: 0.6rem;
}

.growth-container {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    height: 7rem;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
    }
    
    .logo {
        width: 2.5rem;
        height: 2rem;
    }

    .hamburger {
        visibility: visible;
    }

    .menu-items {
        visibility: hidden;
    }

    .main-container {
        display: block;
    }

    .abstract-blocks {
        width: 100%;
    }

    .bright-future {
        font-size: 1.8rem;
        width: 100%;
    }

    .bright-subtext {
        width: 100%;
        font-size: 0.8rem;
    }

    .news-sidebar {
        margin-top: 3rem;
    }

    .retro-pcs-container {
        margin-top: 3rem;
    }

    .top-10-container {
        margin-top: 3rem;
    }

    .growth-container {
        margin-top: 3rem;
    }

    .number-header {
        font-size: 1.5rem;
    }

    .top-3-header {
        font-size: 1rem;
    }

    .top-3-subtext {
        font-size: 0.8rem;
    }

    .toggler:checked {
        position: fixed;
    }

    .toggler:checked ~ .hamburger {
        position: fixed;
    }

    .toggler:checked ~ .menu-overlay .menu-items {
        visibility: visible;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -80vw;
        top: 25%;
        z-index: 4;
    }

    .toggler:checked ~ .menu-overlay {
        transform: scale(1);
    }

    
}